<!DOCTYPE html>
<html lang="fr" class="scroll-smooth bg-background">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title inertia>
      Espace famille Morges
    </title>

    @viteReactRefresh()
    @vite(['inertia/app.tsx'])
    @inertiaHead()
    @stack('dumper')
  </head>

  <body class="font-sans antialiased">
    @inertia()
  </body>

</html>
